.navigation {
  height: 100vh;
  width: 7%;
  /* background-color: #eee;*/
  background-image: linear-gradient(to right bottom, #f0ece3, #dfd3c3, #c7b198);
  position: fixed;
  transition: all 0.3s;
  z-index: 1000;
  opacity: 70%;

  &:hover {
    width: 14%;

    .navigation__ulist--item {
      transform: translateX(-1rem);
      &:hover {
        transform: scale(1.05);
      }
    }

    .navigation__link {
      &:hover {
        text-decoration: underline;
      }
    }

    .naviagtion__img {
      /* width: 10rem;
      height: 10rem;*/
      margin-top: 2.5rem;
      transform: scale(2);
    }

    .navigation__name {
      transform: rotate(0deg);
      font-size: 4.5rem;
    }

    .navigation__link {
      opacity: 1;
      width: 100%;
      font-size: 1.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__logo {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    padding: 0.5rem;
    padding-top: 5rem;
  }

  &__name {
    transform: rotate(-90deg);
    font-size: 3.5rem;
    margin-top: 17rem;
    text-align: center;
    transition: all 0.3s;
    color: #495057;
  }

  &__feature {
    position: fixed;
    bottom: 13rem;
    /* text-align: center;*/
  }
  &__ulist {
    list-style: none;
  }
  &__ulist--item {
    /* text-align: center;*/
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 2rem;
    margin-top: 1rem;
    letter-spacing: 0.3rem;
    transition: all 0.3s ease-out;
    color: #495057;
    backface-visibility: hidden;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0rem;
    color: #495057;
    opacity: 0;
    transition: all 0.3s ease-out;
    width: 0;
  }

  &__img {
    /* background-color: #6d747a;*/
    background-color: #c7b198;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
  }
}

// Testing
.btn {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem 1.2rem;
  background-color: #fff;
  border: none;
  margin: 1rem 2rem;
  border-radius: 200px;
  cursor: pointer;
}
